.main-container {
    input:-moz-read-only { /* For Firefox */
      color: darkgrey;
   }
   
   input:read-only {
      color: darkgrey;
   }
   .text-left-inside-grid {
      position: absolute;
      left: 5px;
   }
   .text-right-inside-grid {
      position: absolute;
      right: 5px;
   }
   .history-container {
      word-break: break-all;
   }
   .transaction-hash {
      font-size: 0.7em;
      font-family: monospace;
      width: 100%;
   }
   .mat-form-field {
      width:90%;
   }
   .drop-down-button {
      vertical-align: top;
      padding: 0px;
      min-width: 0px;
   }
   .drop-down-icon {
      vertical-align: middle;
      color: var(--main-blue);
      font-size: 2em;
   }

   .address-input {
      font-size: var(--font-small);
   }
}
  