.main-container {
    // .list-title {
    //   display: inline-block;
    //   background-color: var(--main-blue);
    //   border-radius: 10px 10px 0 0;
    //   margin: 0;
    //   padding: 5px 20px;
    //   text-align: center;
    //   color: var(--main-white);
    //   font-weight: bold;
    // }
    input:-moz-read-only { /* For Firefox */
      color: darkgrey;
   }
   
   input:read-only {
      color: darkgrey;
   }
   .text-left-inside-grid {
      position: absolute;
      left: 5px;
   }
   .text-right-inside-grid {
      position: absolute;
      right: 5px;
   }
}
  