<ngx-spinner type="ball-scale-multiple" size="medium" [fullScreen]="true">
    <p style="color: white">Processing...</p>
</ngx-spinner>
<!-- header -->
<div class="header-wrapper">
  <section class="header-container">
    <h1>Content NFT</h1>
    <div class="mail-address-container">
      <img src="assets/image/mail.png" alt="" />
      <p>{{ email }}</p>
    </div>
    <div class="last-row-group">
      <div class="address-container">
        <img src="assets/image/address.png" alt="" />
        <p>{{ this.walletAddress }}</p>
      </div>
      <button class="copy-btn" (click)="copyWalletAddress()">
        <mat-icon>file_copy</mat-icon>
      </button>
    </div>
  </section>
  <div class="logout-btn" (click)="logout()">
    <span class="material-symbols-outlined"> logout </span>
  </div>
</div>

<!-- main content -->
<div class="page-container">
  <!-- back button -->
  <section class="back-button-container">
    <div class="back-btn" routerLink="/mirai-transfer">
      <mat-icon>navigate_before</mat-icon>
      <div>Back</div>
    </div>
  </section>
  <section class="main-container">
      <mat-grid-list cols="16" rowHeight="1:1">
        <mat-grid-tile colspan="2">
            To:
        </mat-grid-tile>
        <mat-grid-tile colspan="14">
          <div class="text-left-inside-grid address-text"> {{toAddress}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="16" rowspan="3">
          <ng-container *ngIf="!addressBook; else showName">
            <button
              type="button"
              class="rectangle-btn"
              style="background-color: var(--sub-gray);"
              (click)="registerAddress()"
            >
              New address detected<br/> Click here to add to address book.
            </button>
          </ng-container>
          <ng-template #showName>
            {{addressBook?.name}}
          </ng-template>
        </mat-grid-tile>
        <mat-grid-tile colspan="16" rowspan="2">
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
            Amount:
        </mat-grid-tile>
        <mat-grid-tile colspan="12" rowspan="2">
          <div class="text-left-inside-grid"> {{this.amount | toBaseUnit}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="4" rowspan="2">
          Balance:
        </mat-grid-tile>
        <mat-grid-tile colspan="12" rowspan="2">
          <div class="text-left-inside-grid"> {{this.balance | toBaseUnit}}</div>
        </mat-grid-tile>
        <mat-grid-tile colspan="16" rowspan="2">
        </mat-grid-tile>
      </mat-grid-list>
      <button
        type="button"
        class="primary-btn"
        (click)="transfer()"
        [disabled]="!formIsValid"
      >
        Transfer
      </button>
  </section>
</div>
