.text-left-inside-grid {
    position: absolute;
    left: 5px;
}
.text-right-inside-grid {
    position: absolute;
    right: 5px;
}
.address-text {
   font-size: 0.85em;
   font-family: monospace;
}
