<ngx-spinner type="ball-scale-multiple" size="medium" [fullScreen]="true">
    <p style="color: white">Processing...</p>
  </ngx-spinner>
  <!-- header -->
  <div class="header-wrapper">
    <section class="header-container">
      <h1>Content NFT</h1>
      <div class="mail-address-container">
        <img src="assets/image/mail.png" alt="" />
        <p>{{ email }}</p>
      </div>
      <div class="last-row-group">
        <div class="address-container">
          <img src="assets/image/address.png" alt="" />
          <p>{{ this.walletAddress }}</p>
        </div>
        <button class="copy-btn" (click)="copyWalletAddress()">
          <mat-icon>file_copy</mat-icon>
        </button>
      </div>
    </section>
    <div class="logout-btn" (click)="logout()">
      <span class="material-symbols-outlined"> logout </span>
    </div>
  </div>
  
  <!-- main content -->
  <div class="page-container">
    <section class="main-container" *ngIf="erc20Balance$ | async as balanceOf">
      <div class="token-icon-container">
        <img src="assets/image/mirai-icon.png" alt="mirai icon"/>
      </div>
      <div class="text-balance">
          <span>{{balanceOf.balance | toBaseUnit}} </span><span> MRA</span>
      </div>
      <mat-grid-list cols="2" >
        <mat-grid-tile>
          <div class="button-text-container">
            <button mat-fab color="primary" aria-label="button for buy" (click)="goMarket()">
              <!-- <mat-icon>arrow_downward</mat-icon> -->
              <span class="material-icons">arrow_downward</span>
            </button>    
            <p class="button-text">Buy</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="button-text-container">
            <button mat-fab color="primary" aria-label="button for transfer" (click)="goTransfer()">
              <!-- <mat-icon>arrow_forward</mat-icon> -->
              <span class="material-icons">arrow_forward</span>
            </button>
            <p>Transfer</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
    <section class="main-container" *ngIf="isError">
      <div class="list-title">{{ serviceName }}</div>
      <ul>
        <ng-container>
          <li>Error occurred</li>
        </ng-container>
      </ul>
    </section>
  </div>