<!-- header -->
<div class="header-wrapper">
  <section class="header-container">
    <div class="header-text">
      <h1>C-Wallet</h1>
    </div>
  </section>
</div>
<!-- main content -->
<div class="page-container">
  <div class="card-wrapper">
    <div class="card-container">
      <div>
        <h3>Let's create a wallet!</h3>
        <p>A new wallet will be created</p>
      </div>
      <section class="btn-container">
        <button class="primary-btn center" routerLink="/create">
          <mat-icon>add_circle_outline</mat-icon>
          Create
        </button>
      </section>
    </div>
    <div class="card-container">
      <div>
        <h3>You already have a Wallet</h3>
        <p>Login with the password you set</p>
      </div>
      <section class="btn-container">
        <button class="primary-btn center" routerLink="/login-by-password">
          <span class="material-symbols-outlined"> login </span>
          Login wallet
        </button>
      </section>
    </div>
  </div>
</div>
