<!-- header -->
<div class="header-wrapper">
  <section class="header-container">
    <h1>Login</h1>
  </section>
</div>
<div class="page-container">
  <!-- back button -->
  <section class="back-button-container">
    <div class="back-btn" routerLink="/select-wallet">
      <mat-icon>navigate_before</mat-icon>
      <div>Back</div>
    </div>
  </section>
  <!-- main content -->
  <section class="main-container">
    <form [formGroup]="form">
      <div class="input-wrapper">
        <label>Email address</label>
        <mat-form-field appearance="fill">
          <mat-label>Your email address</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            autocomplete="off"
          />
        </mat-form-field>
      </div>
      <div class="input-wrapper">
        <label>Wallet password</label>
        <mat-form-field appearance="fill">
          <mat-label>At least 8 alphanumeric characters</mat-label>
          <input
            id="password"
            type="password"
            matInput
            formControlName="password"
            autocomplete="new-password"
          />
        </mat-form-field>
      </div>
    </form>
  </section>
  <section class="btn-container">
    <button
      class="primary-btn"
      (click)="login()"
      [disabled]="this.form.invalid"
    >
      Login
    </button>
  </section>
</div>
