section {
    width: 100%;
    height: 100%;
  }
  
  .message {
    height: 80%;
    width: 100%;
    form {
      width: 100%;
    }
  }
  
  .btn-box {
    height: 20%;
    width: 100%;
  }
  
  .primary-btn,
  .gray-btn {
    width: 100px;
    text-align: center;
  }
  
  .column {
    display: flex;
    display: -webkit-flex;
    /* Safari */
    flex-direction: column;
    -webkit-justify-content: center;
    /* Safari */
    justify-content: center;
    -webkit-align-items: center;
    /* Safari */
    align-items: center;
  }

  input.read-only {
    font-family: monospace;
    font-size: var(--font-small);
  }
  