<!-- header -->
<div class="header-wrapper">
  <section class="header-container">
    <h1>Create</h1>
  </section>
</div>
<div class="page-container">
  <!-- back button -->
  <section class="back-button-container">
    <div class="back-btn" routerLink="/create">
      <mat-icon>navigate_before</mat-icon>
      <div>Back</div>
    </div>
  </section>

  <!-- main content -->
  <section class="main-container">
    <!-- form -->
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>Email address</mat-label>
        <input
          type="text"
          matInput
          formControlName="email"
          autocomplete="off"
        />
      </mat-form-field>
      <label for="address">
        Please enter the wallet password for address creation
      </label>
      <mat-form-field appearance="fill">
        <mat-label>At least 8 alphanumeric characters</mat-label>
        <input
          id="password"
          type="password"
          matInput
          formControlName="password"
          autocomplete="new-password"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>confirm At least 8 alphanumeric characters</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirm"
          autocomplete="off"
        />
      </mat-form-field>
    </form>
  </section>
  <!-- button -->
  <section class="btn-container">
    <button
      class="primary-btn"
      (click)="createAddress()"
      [disabled]="this.form.invalid"
    >
      Send
    </button>
  </section>
</div>
