/* テーマカラー　*/
:root {
  --main-blue: #7484bf;
  --main-white: #fff;
  --main-black: #707070;
  --main-gray: #b4b4b4;
  --sub-gray: #e7e7e7;
  --sub-blue-01: #a2c3e7;
  --sub-aqua-blue: #eff8fe;
  --sub-green-blue: #a1d8e4;
  --sub-blue-02: #89c3e7;

  // フォントサイズ
  --font-bigger: 24px;
  --font-big: 20px;
  --font-large: 18px;
  --font-normal: 16px;
  --font-medium: 14px;
  --font-small: 12px;
}
